[submodule "src/code.cloudfoundry.org/copilot"]
	path = src/code.cloudfoundry.org/copilot
	url = https://github.com/cloudfoundry-incubator/copilot
[submodule "src/istio.io/istio"]
	path = src/istio.io/istio
	url = https://github.com/rosenhouse/istio
[submodule "src/github.com/mccutchen/go-httpbin"]
	path = src/github.com/mccutchen/go-httpbin
	url = https://github.com/mccutchen/go-httpbin
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net
